.ds-container-card {
    display: flex;
    justify-content: center;
    margin: 130px 0;

}

.ds-description-card h1 {
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--color-font-secondary);
}

.ds-description-card p {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin: 42px 0;
    color: var(--color-font-tertiary); 
}

.ds-card-home {
    width: 537.15px;
    height: 444px;
}