.ds-steps-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 133px;
    margin-right: 350px;
  }

.ds-title-steps {
  color: var(--color-font-quaternary);
  line-height: 34px;
  letter-spacing: -0.015em;
  margin-left: 250px;
}

.ds-description-steps {
    line-height: 24.51px;
    letter-spacing: -1.5%;  
}

.ds-description-steps p {
  color: var(--color-font-tertiary);
  font-size: 18px;
}

.ds-number-steps {
  color: var(--color-font-quaternary);
  font: 24px;
  font-weight: bold;
}

.ds-bold-step {
  font-weight: bold;
}