@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-bg-primary:  #DA5C5C;
  --color-bg-secondary: #FFF;
  --color-bg-tertiary: #F5F5F5;
  --color-bg-quaternary: ;
  --color-bg-footer: #263238;

  --color-font-primary: #fff;
  --color-font-secondary: #263238;
  --color-font-tertiary: #9E9E9E;
  --color-font-quaternary: #DA5C5C ;

  --color-border-primary: #E6E6E6;
  --color-border-secondary: #C4C4C4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.ds-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
