.ds-card-location {
    background-color: var(--color-bg-secondary);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 540px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 15px 13px;
}

.ds-card-location h3 {
    color: var(--color-font-tertiary);
    font-size: 18px;
    margin-bottom: 20px;
}

.ds-map {
    display: flex;
    justify-content: center;
    
}

.ds-map img {
    display: flex;
    justify-content: center;
    width: 970px;
    height: 460px;
    border-radius: 10px;
    cursor: pointer;
}

.ds-search-street {
    background-color: var(--color-bg-secondary);
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 960px;
    height: 60px;
    margin-top: 5px;
}

.ds-search-street img {
    width: 15px;
}

.ds-search-placeholder {
    border-bottom: 1px solid var(--color-bg-quaternary);
    color: var( --color-font-tertiary);
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}